.pricing {
  display: flex;
  flex-direction: column;
}

.pricing-header {
  color: hsl(232, 13%, 33%);
  margin: 3rem;
  align-self: center;
}

.toggle {
  color: hsl(234, 14%, 74%);
  display: flex;
  flex-direction: row;
}

.toggle label {
  margin-top: 1rem;
}

.pricing-cards {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.pricing-card {
  /* float: left; */
  /* position: relative; */
  min-width: 300px;
  min-width: 330px;
}

.price-list {
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(240, 78%, 98%);
}

.price-list-main {
  background: linear-gradient(130deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: hsl(240, 78%, 98%);
}

.featured {
  /* margin-top: -1rem;
  margin-bottom: 1rem; */
  margin: -1rem -1rem;
  z-index: 1;
}

.price-list-secondary {
  background-color: white;
  color: hsl(232, 13%, 33%);
}

.price-list-header-main {
  margin-top: 1rem;
}

.price-list-header {
  font-size: 17px;
  border-top: 0px solid;
  padding: 20px;
}

.price {
  font-size: 60px;
  border-top: 0px solid;
  padding: 20px;
  vertical-align: middle;
}

.currency {
  font-size: 35px;
  padding-bottom: 10px;
}

.pricing-card li {
  list-style-type: none;
  padding: 20px;
  text-align: center;
}

.feature {
  border-top: 1px solid hsl(234, 14%, 74%);
  border-bottom: 1px solid hsl(234, 14%, 74%);
  margin: 0px 35px -1px 35px;
}

.price-button {
  border-radius: 5px;
  border: 0px solid hsl(233, 13%, 49%);
  background: linear-gradient(130deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: hsl(240, 78%, 98%);
  padding: 10px 25%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  background-color: inherit;
  padding: 10px 25%;
}
.price-button:hover {
  border-radius: 5px;
  border: 1px solid hsl(233, 13%, 49%);
  background: inherit;
  color: hsl(233, 13%, 49%);
  padding: 10px 25%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  background-color: inherit;
  padding: 10px 15%;
  cursor: pointer;
}

.price-button-main {
  border: 1px solid white;
  background: hsl(240, 78%, 98%);
  color: hsl(236, 72%, 79%);
  margin-bottom: 2rem;
}

.price-button-main:hover {
  border: 1px solid hsl(240, 78%, 98%);
  color: hsl(240, 78%, 98%);
  margin-bottom: 2rem;
  cursor: pointer;
}
