body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  align-content: space-around;
}

.background {
  background-color: hsl(240, 78%, 98%);
  background-image: url("./images/bg-bottom.svg"), url("./images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  min-height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
